[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Open Google Chrome
Exec=/usr/bin/google-chrome --user-data-dir=/home/kasm-user/chrome-profile %U
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
